.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.para {
  background-color: red;
  padding: 10px;
  width: 1000px;
  margin: auto;
  text-align: center;
  color: aqua;
}

.button {
  background-color: aquamarine;
  color: #282c34;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font: bold;
  font-size: medium;
  border-color: aquamarine;
}

.input{
  margin: 30px;
  width: 200px;
  height: 40px;
  color: brown;
  font: bold;
  font-size: 22px;
  border-radius: 15px;
  border-color: blue;
}

.menu {
  width: 80%;
  text-align: center;
  left: -100%;
  height: 100vh;
  position: fixed;
  list-style: none;
  background-color: aqua;
  transition: 0.5s;
}

.activeMenu {
  left: 0%;
}

.menu ul {
  justify-content: center;
  gap: 30px;
}

.menu ul li {
  margin-bottom: 50px;
  font: bold;
  font-size: 30px;
  list-style: none;
  padding: 10px 0px;
} 

.mIcon {
  top: 10px;
  position: absolute;
  right: 20px;
}

.modalOverLay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.5);
}

.showModalOverlay {
  display: block;
}

.modelDiv {
  width: 320px;
  height: 320px;
  background-color: white;
  position: fixed;
  top: -500px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.showModelDiv {
  top: 50%;
  cursor: pointer;
}
.en {
  position: fixed;
  top: 100px;
}

.faqOuter {
  width: 1320px;
  margin: auto;
}

.faqItems {
  border: 1px solid red;
  margin-bottom: 20px;
}

.faqItems h2 {
  margin: 0px;
  padding: 10px;
  background-color: #282c34;
  color: white;
  text-align: left;
  cursor: pointer;
}

.faqItems p{
  text-align: left;
  height: 0px;
  padding: 0px;
  margin: 0px;
  transform: scaleY(0);
  transition: 0.5s;
}

.activeAns {
  height: auto !important;
  transform: scale(1) !important;
  padding: 10px !important;
}
